<section id="work">
  <% @project.works.each do |work| %>
      <p class="category"><%= work.category.name %></p>
      <article id="<%= work.title %>" class="row">
        <h1 class="col-3"><%= work.title %></h1>
        <div class="col flex-grow-1">
          <%= markdown work.description %>
        </div>
      </article>

      <% work.images.each do |image| %>
      <img class="banner"  width="100vw" src="<%= image.photo %>" alt="">
      <% end %>

  <% end %>

</section>
