<main id="work" style="margin-top: 72pt;">
  <section class="container">

      <section class="row">
        <article class="col-md-5 col-sm-12">
          <div class="content-text">
            <h3><%= link_to '⊖', [@project, @work], :method => :delete %></h3>
              <%= form_for [@project, @work] do |f| %>
                <h3><%= f.text_field :title, placeholder: "titre" %></h3>
                <p class="category" style="display: inline-flex;" >
                <%= f.select(:category_id) do %>
                  <% @categories.each do |c| %>
                    <%= content_tag(:option, c.name, value: c.id) %>
                  <% end %>
                <% end %>
                  <%= f.text_field :date %>
                  <%= f.text_field :city, placeholder: "city" %>
                </p>
                <br>
          </div>
        </article>
        <article class="col-md-7 col-sm-12 work-description">
          <div class="content-text">
            <p style=" font-size: 16pt;"><%= f.text_area :description, placeholder: "description" %></p><br>
                  <% @images.each do |image| %>
                    <img src="<%= image.photo %>" alt="">
                  <% end %>
                  <%= f.fields_for :images do |image_field| %>
                    <%= image_field.label :photo %>
                      <%= image_field.file_field :photo, :multiple => true, name: "images[photo][]" %>
                      <%= image_field.check_box :_destroy %>
                  <% end %>
            <%= f.submit value: "OK" %>
          </div>
        </article>
      </section>
        <section class="row">
          <article class="col-sm-12">
            </article>
            </section>
        <% end %>

  </section>
</main>
