<main id="work" style="margin-top: 72pt;">
  <section class="container">
    <section class="row">
        <article class="col-md-5 col-sm-12">
          <div class="content-text">
            <%= form_for [@project, @work] do |f| %>
            <h3><%= f.text_field :title, placeholder: "titre" %></h3>
            <p class="category" style="display: inline-flex;" >
            <%= f.select(:category_id) do %>
            <% @categories.each do |c| %>
              <%= content_tag(:option, c.name, value: c.id) %>
            <% end %>
          <% end %><span></span><%= f.date_field :date %> <span> </span><%= f.text_field :city, placeholder: "city" %> </p><br>
        </div>
        </article>
        <article class="col-md-7 col-sm-12 work-description">
          <div class="content-text">
            <p style=" font-size: 16pt;"><%= f.text_area :description, placeholder: "description" %></p><br>
            <%= f.fields_for :images do |image| %>
              <%= image.label :photo %>
              <% 6.times do %>
                <%= image.file_field :photo, :multiple => true, name: "images[photo][]" %>
              <% end %>
            <% end %>
          <%= f.submit %>
      </div>
      </article>
        <% end %>
    </section>
  </section>
</main>
