<main id="work" style="margin-top: 72pt;">
  <%= form_for [@project, @work] do |f| %>
  <div class="container">
    <div class="row">
      <div class="col">
        <%= f.text_field :title, placeholder: "titre", class: ["form-control"] %>
      </div>
      <div class="col">
        <%= f.select(:category_id) do %>
        <% @categories.each do |c| %>
        <%= content_tag(:option, c.name.capitalize, value: c.id, class: ["form-control"]) %>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.text_field :date, value: Date.today, class: ["form-control"] %>
      </div>
      <div class="col">
        <%= f.text_field :city, value: "Paris", placeholder: "city", class: ["form-control"] %>
      </div>
    </div>
    <div class="row">
      <div class="col">
    <%= f.text_area :description, placeholder: "description", class: ["form-control"], rows: 10 %>

      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.fields_for :images do |image| %>
          <%= image.label :photo %>
          <%= image.file_field :photo, :multiple => true, name: "images[photo][]"%>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.submit value: "OK", class: ["btn btn-primary"] %>
      </div>
    </div>
<% end %>
</div>
</main>
