<header class="d-flex align-items-center justify-content-between fixed-top bg-white mb-2 shadow">
<% if @project && !@work %>
    <a href="/projects" class="text-left col">↤ retour</a>
  <div class="col justify-content-center align-items-center d-flex bg-transparent">
    <%= render 'shared/couronne'%>
  </div>
  <h2 class="col text-right my-4 mx-0" style="font-size: 16pt; color: <%= @color_d %>;"><%= @project.title %></h2>
  <div id="edit" class="row">
    <% if current_user && @project.id && current_user.email == "quentin.gourdon@gmail.com" %>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <%= link_to "EDIT", edit_project_path(@project, @work), class: [:btn, "btn-warning"] %>
      <%= link_to 'DELETE', @project, :method => :delete, class: [:btn, "btn-danger"] %>
    </div>
      <br>
    <% end %>
  </div>


<% elsif @projects %>

    <a class="col text-left" href="/about"><h6>à propos</h6></a>
    <div class="col justify-content-center align-items-center d-flex bg-white">
      <%= render 'shared/couronne'%>
    </div>
    <h4 class="col text-right my-4 mx-0">Work in Progress</h4>

<% else %>
    <a  class="col text-left" href="/projects"><h4>mes projets</h4></a>
  <%= render 'shared/couronne'%>
    <h4 class="col text-right my-4 mx-0">Work in Progress</h4>

<% end %>
</header>

