<% if @project %>
<% if @project.colors.first %>
<header style=" color: rgba( <%= @project.colors.first.red %>, <%= @project.colors.first.green %>, <%= @project.colors.first.blue %>,1); width: 288pt;">
  <% else %>
  <header>
<% end %>
<a href="/projects" style="position: fixed; top: 12pt; left: 12pt;"><h6>⬅︎</h6></a>
<div class="content">
  <h4>infos</h4>
  <h2><%= @project.title %></h2>
  <% if @project.country %>
    <span><%= @project.country %></span></span>
    <p><%= markdown @project.description %></p>
  <% end %>
</div>
</header>

<% elsif @projects %>

<header>
  <a href="/about"><h6>QLGordon</h6></a>
  <h3>Graphisme & Web</h3>
</header>

<% else %>

<header>
  <a href="/projects"><h1></h1>
  <h3>mes projets</h3></a>
  <h3>QLGordon</h3>
  <p>Graphisme & Web</p>
</header>
<% end %>

