<div id="real" class="head a-b-left">
  <!-- TODO REFACTO CODE DYNAMIQUE CSS -->
  <div aria-label="...">
    <% if @project.works && current_user && current_user.email == "quentin.gourdon@gmail.com" %>
    <%= link_to "NEW", new_project_work_path(@project), class: [:btn, "btn-primary"] %>
    <% end %>
  </div>

  <% @project.works.each do |work| %>
  <div class="bg-white p-2 my-2 rounded shadow">
  <% if @project.works && current_user && current_user.email == "quentin.gourdon@gmail.com" %>
    <%= link_to "EDIT", edit_project_work_path(@project.id, work) %>
  <% end %>
      <strong><%= work.title %></strong>
      <em><%= work.category.name %></em>
  </div>
    <% if work.date && work.city %>
    <div style="display: none"><h6> <%= work.date.year %> </h6> <h6> <%= work.city %> </h6></div>

    <% end %>
  <% end %>
</div>
