    <section class="row">
      <article class="col-02">
        <div class="content-logo">
          <%= svg 'diplomatie_solidaire/diplomatie_solidaire_c' %>
        </div>
      </article>
      <article class="col-05">
        <div class="content-text"><h3>Diplomatie Solidaire</h3>
          <hr>
          <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
          </p>
          <hr>
          <span style="color: rgb(251, 31, 20)">█</span>
          <span style="color: rgb(0, 29, 138)">█</span>
          <span style="color: rgb(34, 31, 28)">█</span>
          <hr>
          <i class="fab fa-facebook-square" style="color: black;"></i>
          <i class="fab fa-instagram" style="color: black;"></i>
          <i class="fab fa-behance-square" style="color: black;"></i>
          <i class="fab fa-twitter-square" style="color: black;"></i>
          <i class="fab fa-linkedin" style="color: black;"></i>
          <hr>
          <h6>Paris • France</h6>
          <h6>2016</h6>
          <hr>
          <a href="/">∓</a>
        </div>
      </article>
      <article class="col-13">
        <div class="content-img">
          <%= svg 'diplomatie_solidaire/diplomatie_solidaire' %>
          <%= svg 'diplomatie_solidaire/diplomatie' %>
          <%= svg 'diplomatie_solidaire/solidaire' %>
          <%= svg 'diplomatie_solidaire/cercle' %>
        </div>
      </article>
    </section>
