<section class="row">
  <article class="col-02">
    <div class="content-logo">
      <%= svg 'mpp/mpp_c' %>
    </div>
  </article>
  <article class="col-05">
    <div class="content-text"><h2>MPP</h2>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Angers • France</h6>
      <h6>2015</h6>
    </div>
  </article>
  <article class="col-13">
    <div class="content-img">
      <%= svg 'mpp/mpp' %>
      <%= svg 'mpp/mouvman' %>
      <%= svg 'mpp/peyizan' %>
      <%= svg 'mpp/papay' %>
    </div>
  </article>
</section>
