<section class="row">
  <article class="col-02">
    <div class="content-logo">
      <%= svg 'sibylline/sibylline_c' %>
    </div>
  </article>
  <article class="col-05">
    <div class="content-text"><h3>Sibylline Escapade</h3>
      <hr>
      <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa explicabo exercitationem, quibusdam corrupti nam. Et beatae dolorem modi harum possimus nostrum quaerat ex amet. Aliquid odio, libero quibusdam rem!
      </p>
      <hr>
      <span style="color: rgb(34, 31, 28)">█</span>
      <span style="color: rgb(192, 0, 32)">█</span>
      <hr>
      <i class="fab fa-facebook-square" style="color: black;"></i>
      <i class="fab fa-instagram" style="color: black;"></i>
      <i class="fab fa-behance-square" style="color: black;"></i>
      <i class="fab fa-twitter-square" style="color: black;"></i>
      <i class="fab fa-linkedin" style="color: black;"></i>
      <hr>
      <h6>Angers • France</h6>
      <h6>2015</h6>
      <hr>
      <a href="/">∓</a>
    </div>
  </article>
  <article class="col-13">
    <div class="content-img">
      <%= svg 'sibylline/sibylline' %>
      <%= svg 'sibylline/noir' %>
      <%= svg 'sibylline/rouge' %>
      <%= svg 'sibylline/escapade' %>
    </div>
  </article>
</section>
