<%= render 'shared/header' %>

<main id="home">
<section class="container">
  <section class="row">
<article class="col-07">
  <section class="content-photo">
  <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548263285/qlgordon.png" alt="">
  </section>
  <section class="content-photo">
    <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548267405/IMG_3787.png" alt="">
  </section>
<%#= image_tag("png/qlgordon") %>
</article>
<article class="col-11">
<section class="content-text">
  <h3>Who Am I</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure excepturi quisquam, voluptate ducimus voluptas necessitatibus enim, tenetur molestiae consectetur eligendi corporis, ad impedit optio sunt quaerat animi dolorem amet molestias.</p>
  <h4>Born in Angers…</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dignissimos perferendis tempora, sint harum omnis esse, voluptatem tenetur neque qui distinctio, laborum obcaecati ipsam non quae. Consequuntur vero ipsam, similique.</p>
<h4>…Rennes…</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae veritatis, expedita beatae consectetur, amet optio officia, deleniti non incidunt aliquid magnam saepe quaerat vero rerum aut obcaecati. Cum debitis, iusto.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque atque consequatur accusantium nihil vel enim deserunt officia commodi ab reprehenderit odio, dolores natus nam eum iste tenetur sapiente quod. ipsum dolor sit amet, consectetur adipisicing elit. Et iste corrupti eos, vel dicta a unde sapiente sit, dolorem maxime fugiat blanditiis voluptate hic excepturi quidem eligendi ullam nostrum. Nesciunt.</p>
<h4>…then Haïti…</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae veritatis, expedita beatae consectetur, amet optio officia, deleniti non incidunt aliquid magnam saepe quaerat vero rerum aut obcaecati. Cum debitis, iusto.</p>
<h4>…now Autria</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae veritatis, expedita beatae consectetur, amet optio officia, deleniti non incidunt aliquid magnam saepe quaerat vero rerum aut obcaecati. Cum debitis, iusto.</p>
</section>
<section class="content-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aspernatur beatae cum, nihil dolore? Laboriosam at fugiat cupiditate ipsa illum possimus vitae! Cum architecto, odio fuga quam nulla voluptatum iusto.</p>
</section>
</article>
<article class="col-02">
</article>
</section>
</section>
</main>
<% 0.times do %>
  <section id="bg-graphic">
    <% graphics_1 = "⏌⎿⏋⎾" %>
    <% 18.times do %>
      <p id="graphic" class="<%= @font_size.sample %>"
      style="color: <%= (@color.shuffle)[0] %>;
      font-size: <%= @font_size.sample %>pt;
      transform: rotate(<%= @rotate.sample %>deg)
      translate(<%= @translate.sample %>pt, <%= @translate.sample %>pt);">
      <%= graphics_1.split("").sample %>
      </p>
    <% end %>
  </section>
<% end %>
