<%= render 'shared/header' %>

<main id="home">
<section class="container">
  <section class="row">
<article class="col-09">
  <section class="content-photo">
  <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/c_scale,w_500/v1548263285/qlgordon.png" alt="">
  </section>
  <section class="content-photo">
    <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/c_scale,w_500/v1548267405/IMG_3787.png" alt="">
  </section>
<%#= image_tag("png/qlgordon") %>
</article>
<article class="col-09">
<section class="content-text">
  <h2>DO IT!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ipsa, numquam! Explicabo expedita autem, laborum rem error sed dicta optio cupiditate, nemo assumenda voluptate dolores, modi ducimus fugiat pariatur beatae!</p>
</section>
<section class="content-text">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aspernatur beatae cum, nihil dolore? Laboriosam at fugiat cupiditate ipsa illum possimus vitae! Cum architecto, odio fuga quam nulla voluptatum iusto.</p>
</section>
</article>
<article class="col-02">
</article>
</section>
</section>
</main>
<% 10.times do %>
  <section id="bg-graphic">
    <% graphics_1 = "⏌⎿⏋⎾" %>
    <% 18.times do %>
      <p id="graphic" class="<%= @font_size.sample %>"
      style="color: <%= (@color.shuffle)[0] %>;
      font-size: <%= @font_size.sample %>pt;
      transform: rotate(<%= @rotate.sample %>deg)
      translate(<%= @translate.sample %>pt, <%= @translate.sample %>pt);">
      <%= graphics_1.split("").sample %>
      </p>
    <% end %>
  </section>
<% end %>
