
<div id="logo-c">
  <table id="logo_codesign">
    <tr><td>c</td><td>o</td><td>d</td></tr>
    <tr><td>e</td><td>s</td><td>i</td></tr>
    <tr><td>g</td><td>n</td><td>âˆ“</td></tr>
  </table>
</div>

<% color = ["grey"] %>

<% graphics_1 = "ðŸ¥°ðŸ˜ðŸ˜˜ðŸ˜»ðŸ’‹ðŸŒ¹" %>

<section id="bg-graphic">

<% 126.times do %>
  <p id="graphic" class="<%= @font_size.sample %>"
  style="color: <%= (color.shuffle)[0] %>;
  font-size: <%= @font_size.sample %>pt;
  transform: rotate(<%= @rotate.sample %>deg)
  translate(<%= @translate.sample %>pt, <%= @translate.sample %>pt);">
  <%= graphics_1.split("").sample %>
  </p>
<% end %>
