<%= render 'shared/header' %>

<main>
<section class="container">
  <section class="row">
<article class="col-09">
  <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548263285/qlgordon.png" alt="">
<%#= image_tag("png/qlgordon") %>
</article>
<article class="col-08">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aspernatur beatae cum, nihil dolore? Laboriosam at fugiat cupiditate ipsa illum possimus vitae! Cum architecto, odio fuga quam nulla voluptatum iusto.</p>
</article>
<article class="col-03">
</article>
</section>
</section>

</main>
<% 10.times do %>
  <section id="bg-graphic">
    <% graphics_1 = "⏌⎿⏋⎾" %>
    <% 18.times do %>
      <p id="graphic" class="<%= @font_size.sample %>"
      style="color: <%= (@color.shuffle)[0] %>;
      font-size: <%= @font_size.sample %>pt;
      transform: rotate(<%= @rotate.sample %>deg)
      translate(<%= @translate.sample %>pt, <%= @translate.sample %>pt);">
      <%= graphics_1.split("").sample %>
      </p>
    <% end %>
  </section>
<% end %>
