<main id="home">
<section class="container">
  <section class="row">
      <div class="hidden-xs col-md-12">
        <article class="content-call">
          <h1>Besoin d'un designer qui sait coder ?</h1>
        </article>
      </div>
  </section>
  <section class="row">
      <div class="col-sm-12 col-md-3">
      <article class="content-vecteurs">
        <h3>↓ vecteurs ↓</h3>
        <!-- <div class="row"> -->
        <%= svg 'hainet/hainet' %>
        <%= svg 'spark/spark' %>
        <%= svg 'kosmika/kosmika' %>
        <%= svg 'diplomatie_solidaire/diplomatie_solidaire' %>
        <%= svg 'mpp/mpp' %>
        <%#= svg 'sibylline/sibylline' %>
        <!-- </div> -->
      </article>
    </div>
      <div class="col-sm-12 col-md-3">
      <article class="content-ptpx">
        <h3>↓ pt ∓ px ↓</h3>
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392025/institut_francais/33965548_1759368920786591_3864126353305501696_n.jpg" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350936/a_hpp.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350870/hainet_mobil.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352754/noel_ifhpap.jpg" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548263285/qlgordon.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392026/institut_francais/21559112_1510447122345440_8189747391438187022_n.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352753/festival_film_francophone.jpg" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548352859/Testetiquette2.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548391164/hainet/HainetB.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548389023/hainet/a_wifi.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548398460/institut_francais/20mars.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548401606/institut_francais/KozeKilti.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548389003/dipomatie_solidaire/p_mu_diplomatie-solidaire.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548392027/institut_francais/29101317_1680760195314131_4019378000737861632_n.png" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548409366/hainet/HainetSA.png" alt="">
      </article>
    </div>
      <div class="col-sm-12 col-md-3">
      <article class="content-motion">
        <h3>↓ motions ↓</h3>
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548398327/institut_francais/FrancoGif2.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548406017/hainet/fb961754572485.5960eb3d226cc.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548398855/codesign/El-Saieh.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548400741/codesign/CDFH2.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350810/KillYourGender.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548350729/fff.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548398804/mpp/MPP.gif" alt="">
        <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1548406363/codesign/Piano-Piano.gif" alt="">
      </article>
    </div>
      <div class="col-sm-12 col-md-3">
      <article class="content-formation">
        <h3>↓ formations ↓</h3>
        <h4>→ motion</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
        <h4>→ vecteur</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
        <h4>→ graphisme</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
        <h4>→ photographie</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quis dignissimos, magni quisquam, placeat eaque. Quasi tempora porro, eius tempore, animi debitis. Officiis rerum eum explicabo, quaerat voluptas repellat nam!</p>
      </article>
    </div>
  </section>
  </section>
</main>
