
<% @projects.each do |project| %>
<div class="card shadow border-0">
  <div class="row">
    <h4 class=" col card-title"><%= project.title %></h4>
  </div>
<%= link_to project_path(project) do %>
  <img src="<%= project.photo %>" class="card-img-top" alt="...">
  <div class="card-body bg-white p-5">
    <h3 class="card-text"><%= project.title %></h3>
    <p class="card-text"><%= markdown(project.description) %></p>
    <% project.works.each do |work| %>
    <div class="card-text">
      <h4><%= work.title %></h4>
      <p><%= markdown(work.description) %></p>
    </div>
  <% end %>
  </div>
</div>
  <% end %>
<% end %>
