
<% @projects.each do |project| %>
<div class="card shadow border-0">
  <div class="row">
    <h4 class=" col card-title"><%= project.title %></h4>
  </div>
<%= link_to project_path(project) do %>
  <img src="<%= project.photo %>" class="card-img-top" alt="...">
  <div class="card-body bg-white">
    <% project.works.each do |work| %>
    <div class="card-text">
      <h4><%= work.title %></h4>
      <!-- <div>
        <% if project.colors.first %>
          <% project.colors.each do |color| %>
          <div style=" display: inline-block; background: rgba(<%= color.red %>,<%= color.green %>,<%= color.blue %>,1); height: 3pt; width: 12pt;">
          </div>
          <% end %>
          <% else %>
          <% project.client.colors.each do |color| %>
          <%= color.red %><%= color.green %><%= color.blue %>
          <% end %>
        <% end %>
      </div> -->
      <p><%= markdown(work.description) %></p>

    </div>
    <% end %>
  </div>
<% end %>
</div>
<% end %>
