<div class="d-flex w-100" style="align-items: baseline; justify-content: space-evenly; position: fixed;">
<% i = 0 %>
<% 22.times do %>
<style>

@keyframes slidein<%= i %> {
  from {
    transform: rotate(<%= 0 %>deg) translatey(-24pt);
    background: <%= ["darkblue", "blue"].sample %>;
  }
  to {
    transform: rotate(<%= (-3..3).to_a.sample %>deg) translatey(-24pt);
    background: <%= ["darkblue", "blue"].sample %>;
  }
}
</style>
<div class="graph" style="
  width: calc(12pt + 6pt);
  height: <%= 60 %>pt;
  border-radius: 50pt;
  transform-origin: bottom center;
  transform:
    rotate(<%= i %>deg)
    translatey(-48pt);
    animation: <%= (250..1000).to_a.sample %>ms slidein<%= i %> infinite alternate ease-in-out;
"></div>
<% i = i + 1 %>
<% end %>
</div>
