<div class="d-flex w-100" style="align-items: baseline; justify-content: space-evenly; position: fixed; z-index: 10;">
<% i = (25..50).to_a.sample %>
<% 20.times do %>
<style>

@keyframes slidein<%= i %> {
  from {
    transform: rotate(<%= i %>deg) translatey(-24pt);
    background: <%= ["darkblue", "blue", "navy"].sample %>;
  }
  to {
    transform: rotate(<%= i + (1..10).to_a.sample %>deg) translatey(-24pt);
    background: <%= ["darkblue", "blue","navy"].sample %>;
  }
}
</style>
<div class="graph" style="
  width: 100pt;
  height: 54pt;
  border-radius: 288pt;
  margin: 12pt;
  transform-origin: -24pt center;
  transform:
    rotate(<%= i %>deg)
    translatey(-72pt);
    animation: <%= (3..3).to_a.sample %>50ms slidein<%= i %> infinite alternate ease-in-out;
"></div>
<% i = i + 1 %>
<% end %>
</div>
