<%= form_for(@project) do |f| %>
 <main id="project">
   <section class="container">
 <!-- Section Project content -->
     <section class="row">
       <article class="col-sm-12 col-md-5">
         <div class="content-text">
          <% if @project.client.svgs.first %>
            <div class="svg">
                <img src= "<%= @project.client.svgs.first.svg %>"  alt="">
            </div>
          <% end %>
          <h3>
           <%= f.text_field :title %>
          </h3>
          <p class="country"><%= f.text_field :country %></p>
          <hr>
          <%= f.text_area :description %>
          <%= f.label :photo %>
          <%= f.file_field :photo %>
          <br>
          <br>
          <div class="colors-form">
          <% @project.colors.each do |color| %>
          <div class="color-form">
            <% if color.present? %>
              <%= f.fields_for :colors, color do |color_fields| %>
                <%= color_fields.text_field :red, class: "rgb", placeholder: "red" %> <%= color_fields.text_field :green, class: "rgb", placeholder: "Gre" %> <%= color_fields.text_field :blue, class: "rgb", placeholder: "Blu" %>
                <h4 style="color: rgba(
                <%= color.red %>, <%= color.green %>, <%= color.blue %>, 1);
                ">███</h4>
              <% end %>

            <% end %>
            </div>
          <% end %>
        </div>
          <%= f.submit value: "OK" %>


           <%= render 'colors/show' %>
         </div>
       </div>
     </article>

     <article class="col-sm-12 col-md-7">
       <div class="content-img">

           <img src="<%= @project.photo %>" alt="">

       </div>
     </article>
   </section>
  <%= render 'works/show' %>
   </section>
 <% end %>
 </main>
