<%= simple_form_for(@project) do |f| %>
 <main id="project">
   <section class="container">
 <!-- Section Project content -->
     <section class="row">
       <article class="col-sm-12 col-md-5">
         <div class="content-text">
          <% if @project.client.svgs.first %>
            <div class="svg">
                <img src= "<%= @project.client.svgs.first.svg %>"  alt="">
            </div>
          <% end %>
          <h3>
           ✎
           <br>
           <%= f.text_field :title %>
          </h3>
          <p class="country"><%= f.text_field :country %></p>
          <hr>
          <%= f.text_area :description %>
          <br>
          <br>
          <% @project.colors.each do |color| %>
          <div class="color-form">
            <% if color.present? %>
              <%= f.fields_for :colors, color do |color_fields| %>
                <%= color_fields.number_field :red %> <%= color_fields.number_field :green %> <%= color_fields.number_field :blue %>
                <h4 style="color: rgba(
                <%= color.red %>, <%= color.green %>, <%= color.blue %>, 1);
                ">███<%= color_fields.check_box :_destroy %></h4>
              <% end %>
            <% end %>
            </div>
          <% end %>
          <%= f.button :submit, "ok" %>
           <hr>

           <%= render 'colors/show' %>
         </div>
       </div>
     </article>

     <article class="col-sm-12 col-md-7">
       <div class="content-img">
         <% @project.photos.each do |photo|  %>
           <img src="<%= photo %>" alt="">
         <% end %>
       </div>
     </article>
   </section>
  <%= render 'works/show' %>
   </section>
 <% end %>
 </main>
