<main class="controller_project action_index">

  <section class="projects">
    <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
    <%= link_to "ajouter", new_project_path(@project), class: "add" %>
    <% end %>
    <% @projects.each do |project| %>
    <div>

      <article class="project">


        <h2>
          <div style='position: absolute; font-size: 1.5em; z-index: 11; transform: translateY(-1em); width: 100%; left: 0; top: 1em; display: flex; justify-content: space-between;'>
            <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
            <%= link_to 'edit', edit_project_path(project), class: 'edit' %>
            <%= link_to 'delete', project_path(project), class: 'delete', :method => :delete %>
            <% end %>
          </div>
          <% if project.client.svgs.first %>
          <img src="<%= project.client.svgs.first.svg %>" alt="" class="client-logo" />
          <% end %>
          <span class="title"><%= project.title %></span>
          <span class="location"><%= project.country %></span>
          <span class="date"><%= project.date %></span>

        </h2>
        <% if project.colors.first %>
        <div class="more">
          <span class="instagram"><a target='_blank' href='https://www.instagram.com/<%= project.colors[0].name %>/'><i class="fab fa-instagram"></i></a></span>
          <%= link_to project_path(project) do %>
          <span class="estampes illustrations">
            estampes <strong><%= project.colors[0].red || '—' %></strong><br>
            dessins <strong><%= project.colors[0].green %></strong></span>
          <% end %>
        </div>

        <% end %>


        <img src="<%= project.photo %>" alt="" class="attachement" />

      </article>

    </div>
    <% end %>

  </section>
</main>