<main class="controller_project action_index">

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" class="shuffle">
    <defs>
      <path d="M243.2, 382.4c-74.8,   
    0-135.5-60.7-135.5-135.5s60.7-135.5,135.5-135.5s135.5, 60.7, 135.5,
    135.5 S318, 382.4, 243.2, 382.4z" id="textcircle" />
      <style>
        text {
          font-size: 40px;
          font-family: Franklin Gothic, sans-serif;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 16px;
        }
      </style>
    </defs>
    <text dx="50">
      <textPath xlink:href="#textcircle">
        • Amour • Partout • ♥︎
      </textPath>
    </text>
    </text>
  </svg>

  <section class="projects">
    <%= link_to "ajouter", new_project_path(@project), class: "btn btn-primary", style: "margin-left: 5em; " %>

    <% @projects.each do |project| %>
    <div>

      <article class="project">


        <h2>
          <div style='position: absolute; font-size: 1.5em; z-index: 11; transform: translateY(-1em); width: 100%; left: 0; top: 1em; display: flex; justify-content: space-between;'>
            <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
            <%= link_to edit_project_path(project) do %>
            <i class="fas fa-edit" style="padding: 1em; background: blue; color: white;"></i>
            <% end %>
            <%= link_to project_path(project), :method => :delete do %>
            <i class="fas fa-trash-alt" style="padding: 1em; background: red; color: white;"></i>
            <% end %>
            <% end %>
          </div>
          <% if project.client.svgs.first %>
          <img src="<%= project.client.svgs.first.svg %>" alt="" class="client-logo" />
          <% end %>
          <span class="title"><%= project.title %></span>
          <span class="location"><%= project.country %> <%= project.date %></span>
        </h2>

        <%= link_to project_path(project) do %>
        <img src="<%= project.photo %>" alt="" class="attachement" />
        <% end %>

        <div class="description">
          <%= markdown(project.description) %>
        </div>
        <div class="details">
          <p>
            <% if project.works.count == 1 %>
            <span>en 1 point</span><br />
            <% elsif project.works.count > 1 %>
            <strong>en <%= project.works.count %> points</strong><br />
            <% project.works.each do |work| %>
            <strong>― <%= work.title %></strong>
            <% end %> <% else %> <% end %>
          </p>
        </div>

      </article>

    </div>
    <% end %>

  </section>
</main>