<main id="index" class="head container">
  <section id="projects">
    <h2>Mes <%= @projects.count %> projets</h2>
    <div class="card-columns mt-5">
      <% @projects.each do |project| %>
      <div class="card border d-inline-block mb-5 shadow-sm">
        <div class="px-4 pt-3 d-flex justify-content-between border-bottom">
          <div class="d-flex align-self-center mr-1">
            <% if project.client.svgs.first %>
            <img src="<%= project.client.svgs.first.svg %>" alt="" height="48pt" width="48pt" class="border rounded-circle mb-3">
            <% end %>
          </div>
          <div class="align-left flex-grow-1 align-self-center my-3 mx-4">
              <strong>
                <%= link_to project_path(project) do  %>
                <%= project.title %>
                <% end %>
              </strong>

          </div>
            <div class="d-flex align-self-center mr-1">
            <p class="sm-legend d-table">
             <span class="mx-1 blue"><%= project.country %></span>
            </p>
          </div>
        </div>
        <img src="<%= project.photo %>" alt="" class="w-100 border-bottom">
        <div class="px-4 pt-3 d-flex text-secondary justify-content-between">
          <%= markdown(project.description) %>
        </div>
        <div class="px-4 pt-3 d-flex text-secondary justify-content-between">
          <p class="sm-legend">
           <span class="mr-1 red"><%= project.works.count %> missions</span>
          </p>
        </div>

      </div>
      <% end %>
    </div>
  </section>
</main>
