<main class="controller_project action_index">

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" class="shuffle">
    <defs>
      <path d="M243.2, 382.4c-74.8,   
    0-135.5-60.7-135.5-135.5s60.7-135.5,135.5-135.5s135.5, 60.7, 135.5,
    135.5 S318, 382.4, 243.2, 382.4z" id="textcircle" />
      <style>
        text {
          font-size: 40px;
          font-family: Franklin Gothic, sans-serif;
          font-weight: 900;
          text-transform: uppercase;
          letter-spacing: 16px;
        }
      </style>
    </defs>
    <text dx="50">
      <textPath xlink:href="#textcircle">
        • Amour • Partout • ♥︎
      </textPath>
    </text>
    </text>
  </svg>


  <section class="projects">
    <div>
      <% @skills.each do |skill| %>
      <%= image_tag skill.svg, class: "skill" %>
      <% end %>
      <h1>Projets</h1>
      <% Category.all.each do |category| %>
      <%= category.name %>
      <br>
      <% end %>
    </div>
    <% @projects.each do |project| %> <%= link_to project_path(project) do %>
    <article class="project">
      <h2>
        <% if project.client.svgs.first %>
        <img src="<%= project.client.svgs.first.svg %>" alt="" class="client-logo" />
        <% end %>
        <span class="title"><%= project.title %></span>
        <span class="location"><%= project.country %></span>
      </h2>
      <img src="<%= project.photo %>" alt="" class="attachement" />

      <div class="description">
        <%= markdown(project.description) %>
      </div>
      <div class="details">
        <p>
          <% if project.works.count == 1 %>
          <span>en 1 point</span><br />
          <% elsif project.works.count > 1 %>
          <strong>en <%= project.works.count %> points</strong><br />
          <% project.works.each do |work| %>
          <strong>― <%= work.title %></strong>
          <% end %> <% else %> <% end %>
        </p>
      </div>
    </article>
    <% end %> <% end %>
  </section>
</main>