<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<main id="motions">
  <section class="container">
<% @projects.each do |project| %>
    <section class="row">
      <article class="col-sm-12 col-md-4">
        <div class="content-text">
          <h6><%= project.categories.first.name.upcase %></h6>
          <hr>
          <h3><%= project.title %></h3>
          <hr>
          <p>
        <%= project.description %>
          </p>
          <hr>
          <span style="color: rgb(247, 118, 25)">█</span>
          <span style="color: rgb(0, 145, 217)">█</span>
          <span style="color: rgb(34, 31, 28)">█</span>
          <hr>
          <i class="fab fa-facebook-square" style="color: black;"></i>
          <i class="fab fa-instagram" style="color: black;"></i>
          <i class="fab fa-behance-square" style="color: black;"></i>
          <i class="fab fa-twitter-square" style="color: black;"></i>
          <i class="fab fa-linkedin" style="color: black;"></i>
          <hr>
          <h6><%= project.client.name %></h6>
          <h6><%= project.date %></h6>
          <hr>
          <a href="/">∓</a>

        </div>
      </article>
      <article class="col-sm-12 col-md-7">
        <div class="content-video">
          <div class="fb-video" data-href="https://www.facebook.com/ifhpap/videos/1747324371991046/" data-width="750" data-show-text="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/ifhpap/videos/1747324371991046/">
                <a href="https://www.facebook.com/ifhpap/videos/1747324371991046/">How to Share With Just Friends</a>
                <p>How to share with just friends.</p>
                Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on Friday, December 5, 2014
              </blockquote>
            </div>
          </div>
        </div>
      </article>
      <article class="hidden-xs col-md-1">
        <div class="content-preview">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </article>
    </section>
    <% end %>


  </section>

</main>
<% 0.times do %>
  <section id="bg-graphic">
    <% graphics_1 = "⌘" %>
    <% 18.times do %>
      <p id="graphic" class="<%= @font_size.sample %>"
      style="color: <%= (@color.shuffle)[0] %>;
      font-size: <%= @font_size.sample %>pt;
      transform: rotate(<%= @rotate.sample %>deg)
      translate(<%= @translate.sample %>pt, <%= @translate.sample %>pt);">
      <%= graphics_1.split("").sample %>
      </p>
    <% end %>
  </section>
<% end %>
