<main class="controller_project action_show">
  <%= render 'circle' %>
  <% if  current_user.try(:email) == "quentin.gourdon@gmail.com"  %>
  <nav class='tools'>
    <%= link_to "add", new_project_work_path(@project), class: 'add' %>
  </nav>
  <% end %>


  <div>
    <% @project.works.each do |work| %>
    <section class="work">
      <% if  current_user.try(:email) == "quentin.gourdon@gmail.com"  %>
      <nav class='tools'>
        <%= link_to 'edit', edit_project_work_path(@project, work), class: 'edit' %>
        <%= link_to 'delete', project_work_path(@project, work), class: 'delete', :method => :delete %>

      </nav>
      <% end %>

      <% if work.images %>
      <div class="work_images">
        <% work.images.each do |image| %>
        <img src="<%= image.photo %>">
        <% end %>
      </div>
      <% end %>
    </section>
    <% end %>
  </div>
</main>