<main id="project">
  <section class="container">
<!-- Section Project content -->
    <section class="row">
      <article class="col-sm-12 col-md-4">
        <div class="content-text">
          <% if @project.client.svgs.first %>
            <div class="svg">
              <% @project.client.svgs.each do |svg| %>
                <img src= "<%= svg.svg %>"  alt="">
              <% end %>
            </div>
          <% end %>
          <h3><%= @project.title %></h3>
          <span><%= @project.country %></span>
          <hr>
          <%= @project.description %>
          <br>
          <% if current_user %>
            <%= form_for @project, url: {action: "update"} do |f| %>
                <%= f.text_field :title %>
                <%= f.text_field :city %>
                <%= f.text_field :country %>
                <%= f.text_area :description %>
                <%= f.collection_select(:category_id, Category.all, :id, :name) %>
                <br>
                <%= f.submit "update" %>
            <% end %>
          <% end %>
          <hr>
          <% if @project.works %>
          <h3>Réalisations</h3>
            <% @project.works.each do |work| %>
            <br>
              <p><%= work.title %></p>
              <span class="category"><%= work.category.name %> • <%= work.date.year %> | <%= work.city %></span>
            <br>
            <% end %>
          <% end %>
          <div class="shapes">
            <% if @project.svgs.first %>
              <% @project.svgs.each do |svg| %>
                <img src= "<%= svg.svg %>" alt="">
              <% end %>
            <% end %>
          </div>
          <div class="colors" >
            <% if @project.colors.first %>
              <% @project.colors.each do |color| %>
                <div style="
                  background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
                  font-size: 24pt;">
                </div>
            <% end %>
          <% else %>
            <% @project.client.colors.each do |color| %>
              <div style="
                background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
                font-size: 24pt;">
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-8">
      <div class="content-img">
        <% @project.photos.each do |photo|  %>
          <img src="<%= photo %>" alt="">
        <% end %>
      </div>
    </article>
  </section>
<!-- Fin Section Project content -->
<!-- Section Work content -->
  <section id="work">
    <% @project.works.each do |work| %>
      <section class="row">
        <article id="work" class="col-sm-12 col-md-5">
          <h1><%= work.title %></h1>
          <p class="category"><%= work.category.name %></p>
        </article>
        <article id="work" class="col-sm-12 col-md-7 work-description">
          <p style=" font-size: 16pt;"><%= work.description %></p>
        </article>
      </section>

      <section class="row">
        <% work.photos.each do |photo| %>
          <article class="col-sm-12 col-md-4">
            <img src="<%= photo %>" alt="">
          </article>
        <% end %>
      </section>
      <% if current_user %>
        <%= form_for work, url: {action: "update"} do |f| %>
            <%= f.text_field :title %>
            <%= f.text_field :city %>
            <%= f.date_field :date %>
            <%= f.collection_select(:category_id, Category.all, :id, :name) %> <br>
            <%= f.text_area :description %>
            <br>
            <%= f.submit "update work" %>
        <% end %>
      <% end %>
    <% end %>
  </section>
<!-- Section Work content -->
  </section>
</main>
