<main id="project">
  <section class="container">
    <section class="row">
      <article class="col-sm-12 col-md-5">
        <div class="content-text">
          <% if @project.client.svgs.first %>
            <div class="svg">
                <img src= "<%= @project.client.svgs.first.svg %>"  alt="">
            </div>
          <% end %>
          <h3>
            <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
            <%= link_to "✎", edit_project_path(@project, @work) %><br>

            <% end %>
            <%= @project.title %>
          </h3>
          <p class="country"><%= @project.country %></p> <br>
          <hr>
          <p><%= markdown(@project.description) %></p>
          <br>
          <hr>
          <% if @project.works %>
          <h3><% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>

          <% end %></h3>
          <h3>Réalisations</h3>
            <% @project.works.each do |work| %>
            <br><%= link_to "✎", edit_project_work_path(@project.id, work) %>
              <p><%= work.title %></p>
              <p class="category"><%= work.category.name %><% if work.date && work.city %> • <%= work.date.year %> | <%= work.city %> <% end %> </p>
            <br>
            <% end %>
          <% end %>
          <%= render 'colors/show' %>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-7">
      <div class="content-img">

          <img src="<%= @project.photo %>" alt="">

      </div>
    </article>
  </section>
<%= render 'works/show' %>
  </section>
</main>
