<main id="project">
  <section class="container">
  <section class="row">
    <article class="col-sm-12 col-md-4">
      <div class="content-text">
        <% if @project.category %>
        <h6><%= @project.category.name %></h6>
        <hr>
        <% else %>
        <% end %>
        <h3><%= @project.title %></h3>
        <hr>
        <p>
          <%= @project.description %>
        </p>
        <hr>
          <div class="colors" >
          <% @project.colors.each do |color| %>
            <div style="
                background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
                font-size: 24pt;
                "></div>
          <% end %>
        </div>
        <hr>
        <i class="fab fa-facebook-square" style="color: black;"></i>
        <i class="fab fa-instagram" style="color: black;"></i>
        <i class="fab fa-behance-square" style="color: black;"></i>
        <i class="fab fa-twitter-square" style="color: black;"></i>
        <i class="fab fa-linkedin" style="color: black;"></i>
        <hr>
        <h6>Port-au-Prince • Haïti</h6>
        <h6>2016</h6>
        <hr>
        <a href="/">∓</a>
      </div>
    </article>
    <article class="col-sm-12 col-md-7">
      <% if @project.photos? %>
      <div class="content-img">
        <% @project.photos.each do |photo|  %>
      <img src="<%= photo %>" alt="">
        <% end %>

        <% else %>
        <div class="content-svg">
          <% @project.svgs.each do |svg| %>
        <%= svg svg.svg %>
          <% end %>
        <% end %>
      </div>
    </article>
    <article class="hidden-xs col-sm-12 col-md-1">
      <div class="content-preview">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
      </div>
    </article>
  </section>
</section>
</main>
