<main id="project">
  <section class="container">
  <section class="row">
    <article class="col-sm-12 col-md-4">
      <div class="content-text">
        <% if @project.category %>
        <h6><%= @project.category.name %></h6>
        <% end %>
        <% if @project.client.svgs.first %>
        <div class="svg">
          <% @project.client.svgs.each do |svg| %>
          <%= svg svg.svg %>
          <% end %>
        </div>
        <% else %>
        <% end %>
        <h3><%= @project.title %></h3>
        <hr>
        <p>
          <%= @project.description %>
          <hr>
        <div class="shapes">
          <% if @project.svgs.first %>
          <% @project.svgs.each do |svg| %>
            <%= svg svg.svg %>
          <% end %>
          <% end %>
        </div>
          <hr>
        <i class="fab fa-facebook-square" style="color: black;"></i>
        <i class="fab fa-instagram" style="color: black;"></i>
        <i class="fab fa-behance-square" style="color: black;"></i>
        <i class="fab fa-twitter-square" style="color: black;"></i>
        <i class="fab fa-linkedin" style="color: black;"></i>
        <hr>
        <h6> <%= @project.city %> • <%= @project.country %></h6>
        <h6>2016</h6>
        <div class="colors" >
          <% if @project.colors.first %>
            <% @project.colors.each do |color| %>
          <div style="
          background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
          font-size: 24pt;
          "></div>
            <% end %>
          <% else %>
            <% @project.client.colors.each do |color| %>
              <div style="
              background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
              font-size: 24pt;
              "></div>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>

    <article class="col-sm-12 col-md-8">
<!-- start -->
    <% if @project.photos? %>
      <div class="content-img">
        <% @project.photos.each do |photo|  %>
        <img src="<%= photo %>" alt="">
      <% end %>
      </div>

    <% elsif @project.svgs.first && @project.client.svgs.first %>
    <div class="content-svg">
      <% @project.svgs.each do |svg| %>
      <%= svg svg.svg %>
      <% end %>
      <% @project.client.svgs.each do |svg| %>
      <%= svg svg.svg %>
      <% end %>
    </div>

    <% end %>
<!-- end -->
    </article>
  </section>
</section>
</main>
