    <div class="content-img">
        <img style="height: 75vh; width: 100vw; object-fit: cover;" src="<%= @project.photo %>" alt="">
    </div>
<main id="project" class="container">
  <!-- image -->
  <section class="row">
  <article class="col-sm-12 col-md-12">
  </article>
  </section>
  <!-- image -->
  <section class="row">
    <article class="col-sm-12 col-md-12">
    <!-- Texte -->
      <div class="content-text">
      <!-- logo -->
        <% if @project.client.svgs.first %>
          <div class="svg">
            <img src= "<%= @project.client.svgs.first.svg %>"  alt="">
          </div>
        <% end %>
      <!-- logo -->
      <!-- titre -->
        <h3>
        <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
          <%= link_to "⦿", edit_project_path(@project, @work) %>
          <%= link_to '⊖', @project, :method => :delete %>
          <br>
        <% end %>
        <%= @project.title %>
        </h3>
        <!-- titre -->
        <!-- Pays et Description -->
        <p class="country"><%= @project.country %></p><br>
        <hr>
        <div class="project-description"><p><%= markdown @project.description %></p></div>
        <hr>
        <!-- Pays et Description -->
        <!-- Réalisations -->
        <h3>Réalisations
          <% if @project.works && current_user && current_user.email == "quentin.gourdon@gmail.com" %>
            <%= link_to "⊕", new_project_work_path(@project) %>
          <% end %>
        </h3>
        <% @project.works.each do |work| %>
          <p>
            <% if @project.works && current_user && current_user.email == "quentin.gourdon@gmail.com" %>
              <%= link_to "⦿", edit_project_work_path(@project.id, work) %>
            <% end %>
            <%= work.title %>
          </p>
          <p class="category">
            <%= work.category.name %>
            <% if work.date && work.city %>
              • <%= work.date.year %> | <%= work.city %>
            <% end %>
          </p><br>
        <% end %>
        <!-- Réalisations -->
        <!-- couleurs -->
        <%= render 'colors/show' %>
        <!-- couleurs -->
      </div>
    </article>
    <!-- Texte -->
  </section>
  <%= render 'works/show' %>
</main>
