<main id="project" class="head container pt-5">
  <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
  <div class="d-flex">
        <%= link_to edit_project_path(@project) do %>
        <div class="edit rounded-circle m-2">
          <i class="fas fa-edit"></i>
        </div>
        <% end %>
        <%= link_to project_path(@project), :method => :delete do %>
        <div class="edit rounded-circle m-2">
          <i class="fas fa-trash-alt"></i>
        </div>
        <% end %>
  </div>
  <% end %>
  <div class="px-4 pt-3 d-flex border-bottom border-dark justify-content-between shadow-lg">
    <div class="d-flex align-self-center">
    <% if @project.client.svgs.first %>
      <img src="<%= @project.client.svgs.first.svg %>" alt="" height="72pt">
    <% end %>
    </div>
    <div class="w-100 align-self-center p-3">
      <h4 class="text-center">Projet <%= @project.title %></h4>
    </div>
    <div class="text-right d-flex align-self-center" style="width: 72pt;">
    <p class="sm-legend d-table">
      <% if @project.works.count == 1 %>
      <span class="mr-1 red">en 1 point</span><br>
      <% elsif @project.works.count > 1 %>
      <span class="mr-1 red">en <%= @project.works.count %> points</span><br>
      <% else %>
      <% end %>

      <span class="mr-1 blue"><%= @project.country %></span><br>
      <strong style="color: black;">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-instagram"></i>
      </strong>
    </p>
    </div>
  </div>
  <div>
    <img src="<%= @project.photo %>" alt="" class="w-100">
  </div>

  <div class="text-secondary px-4 pt-3 d-flex">
  <p ><%= markdown(@project.description) %></p>
  </div>
<h2>
  <% if @project.works.count == 1 %>
    Ma mission <%= link_to "+", new_project_work_path(@project), class: "btn btn-primary" %>
  <% else %>
    Mes <%= @project.works.count %> missions <%= link_to "+", new_project_work_path(@project), class: "btn btn-primary" %>
  <% end %>
</h2>
  <div class="card-columns d-inline-block">
  <% @project.works.each do |work| %>
    <div class="project shadow-sm border d-inline-block mb-5 card">
      <% if current_user %>
      <% if  current_user.email == "quentin.gourdon@gmail.com"  %>
      <div class="dash">
        <%= link_to edit_project_work_path(@project, work) do %>
        <div class="edit rounded-circle"><i class="fas fa-edit"></i></div>
        <% end %>
        <%= link_to project_work_path(@project, work), :method => :delete do %>
        <div class="edit rounded-circle"><i class="fas fa-trash-alt"></i></div>
        <% end %>
          <% end %>
      </div>
      <% end %>

      <div class="px-4 pt-3 d-flex border-bottom border-dark justify-content-between">
        <div class="d-flex">

          <strong class="size-12">
          <%= link_to project_work_path(@project, work) do %>
          <%= work.title %>
          <% end %>
           </strong>
        </div>
        <div class="d-flex">
          <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1550161588/Skills/Ai.svg" alt="" height="24pt">
        </div>
        <div class="d-flex align-right sm-legend align-self-center">
          <p>
            <span class="mr-1 blue"><%= work.date.year %></span>
          </p>
        </div>
      </div>
        <div>
        <% if work.images %>
        <% work.images.each do |image| %>
          <img src="<%= image.photo %>" alt="" class="w-100 border-bottom">
        <% end %>
        <% end %>
        </div>
      </div>
    <% end %>
    </div>

    <div class="container mb-5">
      <h2>Want to see more ?</h2>
      <div class="row">
      <% 3.times do %>
      <div class="col">
      <% next_project = @projects.sample %>
      <%= link_to project_path(next_project) do %>
      <div class="border">
      <h4 class="m-3"><%= next_project.title %></h4>
      <img src=" <%= next_project.photo %> " alt="" width="100%"class="border-top">
      </div>
      <% end %>
      </div>
      <% end %>
      </div>

    </div>
</main>


