<main id="project">
  <div class="head" >
    <img class="banner position-relative" src="<%= @project.photo %>" alt="">
    <% if @project.client.svgs.first %>
    <img id="badge" class="shadow a-t-right head" src= "<%= @project.client.svgs.first.svg %>" alt="">
    <% else %>
    <div id="badge" class="shadow-lg a-b-right">
      <%= render 'shared/visage' %>
    </div>
    <% end %>
    <%= render 'shared/real' %>
  </div>

  <div class="container">
    <%= render 'colors/show' %>
    <div class="content p-4">
        <h4>infos</h4>
        <h2><%= @project.title %></h2>
        <% if @project.country %>
          <span><%= @project.country %></span></span>
          <p><%= markdown @project.description %></p>
        <% end %>
    </div>
    TODO
    <% @project.works.each do |work| %>
    <%= work.title %>
    <% end %>

  </div>
  </div>
</main>
