    <div class="content-img">
        <img style="height: 100vh; width: 100vw; object-fit: cover;" src="<%= @project.photo %>" alt="">
    </div>
<main id="project" class="container">
  <section class="row">
    <article class="col-sm-12 col-md-12">
    <!-- Texte -->
      <div class="content-text">
      <!-- logo -->
        <% if @project.client.svgs.first %>
          <div class="svg">
            <img src= "<%= @project.client.svgs.first.svg %>"  alt="">
          </div>
        <% end %>
        <div class="edit">
        <h3>
        <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
          <%= link_to "⦿", edit_project_path(@project, @work) %>
          <%= link_to '⊖', @project, :method => :delete %>
          <br>
        <% end %>
        </h3>
        </div>
        <div class="project-real">
          <h3>Réalisations </h3>
            <% if @project.works && current_user && current_user.email == "quentin.gourdon@gmail.com" %>
              <h3> <%= link_to "⊕", new_project_work_path(@project) %> </h3>
            <% end %> <br>
          <% @project.works.each do |work| %>
            <p>
              <% if @project.works && current_user && current_user.email == "quentin.gourdon@gmail.com" %>
                <%= link_to "⦿", edit_project_work_path(@project.id, work) %>
              <% end %>
              <a href="#<%= work.title %>"><%= work.title %></a>
            </p>
            <p class="category">
              <%= work.category.name %></p>
              <% if work.date && work.city %>
                <div style="display: none"><h6> <%= work.date.year %> </h6> <h6> <%= work.city %> </h6></div>
              <% end %>
            <br>
          <% end %>
        </div>
        <!-- couleurs -->
        <%= render 'colors/show' %>
        <!-- couleurs -->
      </div>
    </article>
    <!-- Texte -->
  </section>
  <section class="row">
    <article class="col-xs-12">
        <div class="content">
          <h4>infos</h4>
          <h2><%= @project.title %></h2>
          <% if @project.country %>
            <span><%= @project.country %></span></span>
            <p><%= markdown @project.description %></p>
          <% end %>
        </div>
        </article>
        </section>
  <%= render 'works/show' %>
</main>
