<main class="controller_project action_show">
  <% if current_user && current_user.email == "quentin.gourdon@gmail.com" %>
  <div style="position: fixed; top: 1em; left: 4em">


    <%= link_to edit_project_path(@project) do %>
    <i class="fas fa-edit"></i>
    <% end %>

    <%= link_to project_path(@project), :method => :delete do %>
    <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
  <% end %>

  <% if @project.client.svgs.first %>
  <img src="<%= @project.client.svgs.first.svg %>" alt="" class="logo" height="72pt">
  <% end %>

  <h4 class="text-center">Projet <%= @project.title %></h4>
  <p class="sm-legend d-table">




    <span class="mr-1 red"><%= @project.works.count %></span><br>


    <span class="mr-1 blue"><%= @project.country %></span><br>
    <strong style="color: black;">
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-instagram"></i>
    </strong>
  </p>
  <img src="<%= @project.photo %>" alt="" class="w-100" style="margin-top: 6em;">
  <p><%= markdown(@project.description) || "" %></p>

  <h2>


    <%= link_to "ajouter", new_project_work_path(@project), class: "btn btn-primary", style: "margin-left: 5em; " %>

  </h2>

  <% @project.works.each do |work| %>
  <div>
    <section class="work">

      <% if  current_user.try(:email) == "quentin.gourdon@gmail.com"  %>

      <div style="position: relative; top: 1em; left: 14em; width: 10em;">
        <%= link_to edit_project_work_path(@project, work) do %>
        edit
        <% end %>

        <%= link_to project_work_path(@project, work), :method => :delete do %>
        delete

        <% end %>


        <% end %>
      </div>


      <strong class="size-12">

        <%= work.title %>

      </strong>

      <img src="https://res.cloudinary.com/dhp5qp6ol/image/upload/v1550161588/Skills/Ai.svg" alt="" height="24pt">
      <p><span class="mr-1 blue"><%= work.date.year %></span></p>

      <% if work.images %>

      <% work.images.each do |image| %>
      <img src="<%= image.photo %>" alt="" class="w-100 border-bottom">
      <% end %>

      <% end %>
      <div>
        <% end %>
    </section>


    <h2>Want to see more ?</h2>

    <div class="more_projects">
      <% 3.times do %>
      <% next_project = @projects.sample %>
      <%= link_to project_path(next_project) do %>
      <h4 class="m-3"><%= next_project.title %></h4>
      <img src=" <%= next_project.photo %> " alt="" width="100%" class="border-top">
      <% end %>
      <% end %>
    </div>

</main>