<div class="colors" >
  <% if @project.colors.first %>
    <% @project.colors.each do |color| %>
    <% if color.red && color.green && color.blue %>
      <div style="
        background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
        font-size: 72pt;">
      </div>
    <% end %>
  <% end %>
<% else %>
  <% @project.client.colors.each do |color| %>
    <div style="
      background: rgb(<%= color.red %>, <%= color.green %>, <%= color.blue %>);
      font-size: 72pt;">
    </div>
  <% end %>
<% end %>
